
.Rproj.user/372CE879/sdb/s-5A20FE4D/lock_file

*.csv

*.xlsx

*.pper

.Rproj.user/372CE879/sdb/per/t/B4A43529

.Rproj.user/372CE879/sdb/prop/INDEX

.Rproj.user/372CE879/persistent-state

.Rproj.user/372CE879/sdb/prop/E84741A1

.Rproj.user/372CE879/sdb/prop/C1AF6B7F
